body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header{
  background-color: olivedrab;
  color: white;
  font-size:48px;
  width: 100%;
  text-align: center;
  height: 80px;
}

.nav{
  justify-content:center;
  background-color: #333;
}
.nav-item{
  margin: 10px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: olivedrab;
}
#main{
  max-width: 700px;
  margin: auto;
}