body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#header{
  background-color: olivedrab;
  color: white;
  font-size:48px;
  width: 100%;
  text-align: center;
  height: 80px;
  line-height: 80px;
}
h1, h2, h3{
  text-align: center;
}
.nav{
  justify-content:center;
  background-color: #333;
}
.nav-item{
  margin: 10px;
}
.nav-link{
  color: white;
}
.nav-link:hover{
  color: olivedrab;
}
#main, #footer-container{
  max-width: 700px;
  margin: auto;
}
#main{
  margin-bottom: 100px;
  margin-top: 30px;
}
#footer{
  background-color: #333;
  height: 50px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  color: white;
}
img{
  max-width:100%;
}
.right{
  text-align: right;
}
.box{
  margin:5px;
}
.box ul{
  list-style-type:none;
  padding-inline-start: 0px;
}
.box img{
  margin-top: 35px;
  border-radius: 5px;
}
.headerimg{
  margin: 10px auto;
  display: block;
}
#reviews{
  border: 2px solid black;
  font-size: 18px;
  margin: auto;
  border-collapse:separate;
  border-spacing: 0 1.5em;
}
#reviews td, #reviews th{
  border: 2px dotted black;
  max-width: 300px;
}

#reviews td:last-child{
  text-align: center;
}
#reviews td:first-child{
  font-style: italic;
}